INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 41d0dfadf9fe, create_test_table
INFO  [alembic.runtime.migration] Running upgrade  -> 41d0dfadf9fe, create_test_table
-- Running upgrade  -> 41d0dfadf9fe

CREATE TABLE test_table (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_test_table_id ON test_table (id);

INSERT INTO alembic_version (version_num) VALUES ('41d0dfadf9fe') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 41d0dfadf9fe -> bba961f6cdb8, drop_test_table
INFO  [alembic.runtime.migration] Running upgrade 41d0dfadf9fe -> bba961f6cdb8, drop_test_table
-- Running upgrade 41d0dfadf9fe -> bba961f6cdb8

DROP INDEX ix_test_table_id;

DROP TABLE test_table;

UPDATE alembic_version SET version_num='bba961f6cdb8' WHERE alembic_version.version_num = '41d0dfadf9fe';

COMMIT;

